@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @media (prefers-color-scheme: dark) {
    :root {
      --bg-color: #1a1a1a;
      --text-color: #ffffff;
      --bg-nav: #333;
      --text-nav: #ffffff;
      --text-size: 13px;
      --active-nav: rgb(118, 118, 119);
      --input-color: rgb(136, 136, 143);
      --skeleton: #8d8b8b;
      --baground-modal: rgba(0, 0, 0, 0.486);
    }
    .light-logo {
      content: url("/img/white_logo.png");
    }
  }

  @media (prefers-color-scheme: light) {
    :root {
      --bg-color: #fdfdfd;
      --text-color: #000000;
      --bg-nav: #f1eeee;
      --text-nav: #2b2828;
      --text-size: 14px;
      --active-nav: rgb(214, 206, 206);
      --input-color: rgb(48, 48, 49);
      --skeleton: #edecec;
      --baground-modal: rgba(0, 0, 0, 0.486);
    }
    .light-logo {
      content: url("/img/dark_logo.png");
    }
  }
}

body {
  background-color: var(--bg-color);
}

.navlink {
  opacity: 0.6;
  transition: 0.2s;
}

.navlink.active {
  opacity: 1;
}

.navlink.active span svg {
  background-color: var(--active-nav);
  border-radius: 10px;
}

.scrollable-element::-webkit-scrollbar {
  display: none;
}

.textVertical {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  white-space: nowrap;
}

@media (max-height: 550px) {
  .navbar {
    display: none;
  }
}
